* {
    margin: 0px;
    border: 0px;
}

body{
    background-color: #dddddd;
    margin-top: 0px;
    margin-left: 0px;
}

header{
    background-color: #90BEDE;
    position: fixed;
    width: 100%;
    padding-top: 10px;
    padding-bottom: 10px;
    top: 0;
}

h1{
    padding: 0px;
    text-align: center;
}

nav{
    padding: 0px;
    text-align: center;
}

img {
    border-radius: 20px;
}

.container {
    display: flex;
    margin-top: 90px;
    margin-left: 20px;
    margin-right: 20px;
}

.parte-texto {
    margin-left: 50px;
}

.sobre-mim {
    margin-bottom: 50px;
}

#resumo-profissional, #resumo-pessoal {
    font-size: 20px;
}

.habilidades > ul > li {
    font-size: 20px;
}

.logos {
    text-align: center;
}